{% extends "base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <article class="h-event" data-info="{{ metadata|json_encode }}" data-tags="{{ metadata.tags|json_encode }}" data-article-id="{{ metadata.id }}">
        <div class="row">
            <header class="col-12">
                <h1 class="p-name" style=""><a href="{{ link|raw }}" class="u-url">{{ title }}</a></h1>
                <section class="post-meta">
                    <div class="p-event-status status-{{event.status|default('Confirmed')|lower}}">{{ event.status|default('Confirmed') }}</div>
                    <a class="p-author h-card" href="https://vonexplaino.com/">Professor von Explaino</a>, 
                    <time class="dt-start" datetime="{{ event.startdate|date('c') }}">{{ event.startdate|date('j M Y, h:i a T') }}</time>
                    {% if event.enddate is defined and event.enddate is not null %} - <time class="dt-end" datetime="{{ event.enddate|date('c') }}">{{ event.enddate|date('j M Y, h:i a T') }}</time>{% endif %}
                    <ul class="tags">
                    {% for tag in tags %}
                        <li><a href="/blog/{{tag|tag_link}}-1.html" class="p-category">{{ tag }}</a></li>
                    {% endfor %}
                    </ul>
                    {% if event.location is defined %}
                    {# @todo: Check the type of location and use h-adr or h-geo as appropriate #}
                    <div class="p-location">{{ event.location }}</div>
                    {% endif %}
                </section>
            </header>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="e-content p-description">
                {{ content|raw }}
                </div>
                <hr style="clear:both;" />
            </div>
        </div>
    </article>
{% endblock %}
