{% extends "base.html.twig" %}
{% set date_template = "X
to
Y" %}
{% set date_format = "d F Y" %}
{% block title %}{{ title }}{% endblock %}
{% block extraheaders %}
    {{ parent() }}
    {% if page > 1 %}
    <link rel="prev" href="{{ link_prefix|raw }}{{ prev_page }}.html" />
    {% endif %}
    {% if page < last_page %}
    <link rel="next" href="{{ link_prefix|raw }}{{ next_page }}.html" />
    {% endif %}
    <link rel="canonical" href="{{ link_prefix|raw }}{{ page }}.html"/>
{% endblock %}
{% block content %}
    <div class="h-feed">
        <h1 style="padding-top: 0; margin-top: 0; text-align: center;">{{ (title|default('Blog posts'))|replace({"Professor von Explaino's Journal":""}) }}</h1>
        {% for index, value in list %}
        <article class="h-entry">
            <div class="article-image" style="background: url({{ value.featureimage }}) no-repeat center;background-size: 100% auto;width:100%;height:100%;"></div>
            <h2><a href="{{ value.link }}" class="p-name u-url u-uid">{{ value.title|raw }}</a></h2>
            <div class="summary">
                <p class="p-summary">{{ value.synopsis|raw }}</p>
            </div>
            <time class="date-show dt-published" datetime="{{ value.createddate|date('Y-m-d H:i:s') }}">
                <div class="day-of-month">{{ (value.createddate)|date('jS') }}</div>
                <div class="month">{{ (value.createddate)|date('F') }}</div>
                <div class="year">{{ (value.createddate)|date('Y') }}</div>
            </time>
            <p class="tags">{% for tag in value.tags %}<a href="{{ base_url }}{{tag|tag_link}}-1.html" class="p-category">{{ tag }}</a> {% endfor %}</p>
        </article>
        {% endfor %}
        <nav class="pagination">
            {% if page > 1 %}
                <a href="{{ link_prefix|raw }}1.html" title="{{ first_page_start }} to {{ first_page_end }}"{% if page == 2 %} class="previous"{% endif %}>1</a> {% if page > 3 %} ... {% endif %}
                {% if prev_page > 1 %}
                <a href="{{ link_prefix|raw }}{{ prev_page }}.html" title="{{ prev_page_start }} to {{ prev_page_end }}" class="previous">{{ prev_page }}</a>
                {% endif %}
            {% else %}
                <span>1</span>
            {% endif %}
            {% if page > 1 and page < last_page %}<span>{{ page }}</span>{% endif %}
            {% if last_page > 1 %}
            {% if page < last_page %}
                {% if next_page < last_page %}
                <a href="{{ link_prefix|raw }}{{ next_page }}.html" title="{{ next_page_start }} to {{ next_page_end }}" class="next">{{ next_page }}</a> {% if last_page - next_page > 1 %} ... {% endif %}
                {% endif %}
                <a href="{{ link_prefix|raw }}{{ last_page }}.html" title="{{ last_page_start }} to {{ last_page_end }}"{% if last_page == next_page %} class="next"{% endif %}>{{ last_page }}</a>
            {% else %}                
                <span>{{ last_page }}</span>
            {% endif %}
            {% endif %}
        </nav>
    </div>
{% endblock %}
