{% extends "base.html.twig" %}
{% set cdate = created_date|date('c') %}
{% set udate = updated_date|date('c') %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <article class="h-resume" data-tags="{{ metadata.tags|json_encode }}">
        <style>
            #business-card {
                margin:0 auto;
                max-width:500px;
                display:flex;
                background-color: transparent;
                perspective: 1000px;
                height: 190px;
                margin-bottom: 44px;
            }
            #business-flip:checked + #business-card > div {
                transform: rotateY(180deg);
                -webkit-transform: rotateY(180deg);
                }
            #business-card img { border-radius: 3px; }
            #business-card > div > div {
                position:absolute;
                width: calc(100% - 44px);
                height: 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                border: 2px solid grey;
                padding:20px;
                border-radius: 15px;
                margin: 0 30px 30px 0;
                -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
                -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
                background: {% if resume.Contact.Logo|length > 0 %}url({{resume.Contact.Logo}}) no-repeat bottom center, {% endif %}var(--paper-image) repeat top left;
                border-bottom-right-radius: 60px;
                background-size: 25%;
                }
            #business-card-back {
                transform: rotateY(180deg);
                -webkit-transform: rotateY(180deg);
                border-bottom-right-radius: 15px !important;
                border-bottom-left-radius: 60px !important;
                }
            #business-card * {
                backface-visibility: hidden !important;
                -webkit-backface-visibility: hidden !important;
                }
            #skills-grid > section ul {
                padding-left: 1em;
            }
            .h-resume .experience h3, .h-resume .education h3 {
                clear-both;
                text-align:left;
            }
            .flipper { 
                position: absolute; right: 0; bottom: -70px;cursor: pointer; font-size: 5em;color:#00e;z-index: 2;
            }
            input + section .flipper:hover + div {
                transform: rotateY(10deg);
                -webkit-transform: rotateY(10deg);}
            input:checked + section .flipper:hover + div {
                transform: rotateY(180deg);
                -webkit-transform: rotateY(180deg)}
                
            .skill ul li {
                display: inline;
            }
            .skill ul li:after {
                content: ",\a0";
            }
            .skill ul li:nth-last-child(2):after {
                content: ",\a0 and\a0";
            }
            .skill ul li:last-child:after {
                content: "";
            }
            li.Languages:before {
                content: "\1F4BB"
            }
            li.Libraries:before {
                content: "\1f4d6"
            }
            li.Methodologies:before {
                content: "\2699\FE0F"
            }
            li.Skills:before {
                content: "\1f9e0"
            }
            ul.legend {
                list-style-type: none;
                margin: 0 0 0.5em 0;
                text-align: center;
            }
            ul.legend li {
                display:inline-block;
                margin-right: 3em;
            }
            .skill ul.legend li:after {
                content:"";
            }
        </style>
        <input type="checkbox" id="business-flip" name="business-flip" style="width: 0; height: 0; position: absolute; left: -9999px;">
        <section id="business-card" class="h-card">
            <label class="flipper" for="business-flip">&#x21AC;</label>
            <div style="position:relative;width: 100%;height: 100%;transition: transform 0.5s;transform-style: preserve-3d;-webkit-transform-style: preserve-3d">
                <div id="business-card-front" style="display:flex;">
                    <img class="u-photo" alt="" src="{{ resume.Contact.Photo }}" style="width:150px;height:187px;border: thin solid black;flex-basis: 150px;flex-grow: 0;flex-shrink: 0;">
                    <section id="business-card-text" style="margin-left: 20px;">
                        <h1 class="p-name" style="margin-top:0;margin-bottom:0;">
                            <a class="p-contact" href="{{ resume.Contact.URL|default('#') }}">{{ resume.Contact.Name }}</a>
                        </h1>
                        <section class="post-meta" style="font-size: 0.6em;margin-bottom: 10px;">Last updated <time class="dt-updated" datetime="{{ udate }}">{{ updated_date|date('j M Y, h:i a') }}</time></section>
                        <h2 style="font-size: smaller;margin-bottom:0;">{{ resume.Contact.Title }}</h2>
                        {% if resume.Contact.LinkedIn|length > 0%}<a href="{{ resume.Contact.LinkedIn }}" style="font-size: 0.9em; background: url(/blog/media/2022/01/23/LinkedIn.png) no-repeat left center; background-size: 30%;padding-left: 20px;min-height: 30px;">LinkedIn</a>{% endif %}
                    </section>
                </div>
                <div id="business-card-back" class="p-summary">
                    {{ synopsis|raw }}
                </div>
            </div>
        </section>
        <section class="skill">
            {{ content|raw }}
            <p>My skills include <ul class="legend"><li class="Languages">Languages</li><li class="Libraries">Libraries</li><li class="Methodologies">Methodologies</li><li class="Skills">Techniques</li></ul></p>
            <p><strong>Professional, 5+ years experience</strong>
            <ul>{% for skill_sub_sub in resume.Skill.SeniorDev %}{% for member in skill_sub_sub.Members %}<li class="{{ skill_sub_sub.Name }}">{{member}}</li>{% endfor %}{% endfor %}{% for skill_sub_sub in resume.Skill.HobbyPro %}{% for member in skill_sub_sub.Members %}<li class="{{ skill_sub_sub.Name }}">{{member}}</li>{% endfor %}{% endfor %}</ul>
            </p>
            <p><strong>Upskilling, less than 5 years experience; or not recently used</strong>
            <ul>{% for skill_sub_sub in resume.Skill.Developer %}{% for member in skill_sub_sub.Members %}<li class="{{ skill_sub_sub.Name }}">{{member}}</li>{% endfor %}{% endfor %}{% for skill_sub_sub in resume.Skill.HobbyPro %}{% for member in skill_sub_sub.Members %}<li class="{{ skill_sub_sub.Name }}">{{member}}</li>{% endfor %}{% endfor %}</ul>
            </p>
            <p><strong>Experimenting, using them personally for growth</strong>
            <ul>{% for skill_sub_sub in resume.Skill.Intern %}{% for member in skill_sub_sub.Members %}<li class="{{ skill_sub_sub.Name }}">{{member}}</li>{% endfor %}{% endfor %}{% for skill_sub_sub in resume.Skill.Hobbiest %}{% for member in skill_sub_sub.Members %}<li class="{{ skill_sub_sub.Name }}">{{member}}</li>{% endfor %}{% endfor %}</ul>
            </p>
            
        </section>
        <section class="experience">
            <h2>Experience</h2>
            {% for experience in resume.Experience %}
            <div class="p-experience experience-{{ (experience.Category|lower)|replace({' ':'-'}) }}" style="clear:both">
                {% if experience.Category == "Work History" %}
                <div class="h-event">
                    <h3 class="p-name">{{ experience.Name }} {% if experience.URL %} [<a class="u-url" href="{{ experience.URL}}">Details</a>]{% endif %}<br /><span class="p-location">{{ experience.Location }}</span>, <time class="dt-start" datetime="{{ experience.StartDate|date('c') }}">{{ experience.StartDate|date('Y') }}</time> - 
                    {% if experience.End|length > 0 %}
                    <time class="dt-end" datetime="{{ experience.EndDate|date('c') }}">{{ experience.EndDate|date('Y') }}</time>
                    {% endif %}</h3>
                    <p class="p-summary">{{ experience.Summary}}</p>
                    <span class="p-description">{{ experience.Description }}</span>
                </div>
                {% elseif experience.Category == "Publication" %}
                <div class="h-cite">                    
                    <h3>Publication: <cite class="p-name">{{ experience.Name }}</cite> {% if experience.URL %} [<a class="u-url u-uid" href="{{ experience.URL}}">Details</a>]{% endif %}<br /><time class="dt-published" datetime="{{ experience.PublishedDate|date('c') }}">{{ experience.PublishedDate|date('Y-m-d') }} </time></h3>
                    <span class="p-summary">{{ experience.Summary }}</span>
                </div>
                {% elseif experience.Category == "Presentation" %}
                <div class="h-cite">
                    <h3>Presentation: <cite class="p-name">{{ experience.Name }}</cite> {% if experience.URL %} [<a class="u-url u-uid" href="{{ experience.URL}}">Details</a>]{% endif %}<br /><time class="dt-start" datetime="{{ experience.StartDate|date('c') }}">{{ experience.StartDate|date('Y') }} </time></h3>                        
                    <span class="p-summary">{{ experience.Summary }}</span>      
                    <p class="p-location">Delivered at the {{ experience.Location }}</p>                
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </section>
        <section class="education">
            <h2>Education</h2>
            {% for education in resume.Education %}
            <div class="p-education education-{{ (education.Category|lower)|replace({' ':'-'}) }}">
                <h3 class="p-name">{{ education.Name }}{% if education.URL %} [<a href="{{ education.URL}}">Confirm</a>]{% endif %}</h3>                  
                <p style="text-align: center;">
                {% if education.Category == "Tertiary" %}
                Institution: {{ education.Location }}
                {% elseif education.Category == "Certification" %}
                Group: {{ education.Location }}
                {% else %}
                {{ education.Location }}
                {% endif %}: 
                <time class="dt-start" datetime="{{ education.StartDate|date('c') }}">{{ education.StartDate|date('Y') }}</time>      
                {% if education.End %} - <time class="dt-end" datetime="{{ education.EndDate|date('c') }}">{{ education.EndDate|date('Y') }} </time>{% endif %}
                </p>
            </div>
            {% endfor %}
        </section>
    </article>
{% endblock %}
