{% extends "base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<style>
/** RATINGS **/
.rating .star:before {
    content: "☆";
}

.rating.star-0-5 .star:nth-child(1):before {
    content: "½";
}

.rating[class*=star-1] .star:nth-child(1):before,
.rating[class*=star-2] .star:nth-child(1):before,
.rating[class*=star-3] .star:nth-child(1):before,
.rating[class*=star-4] .star:nth-child(1):before,
.rating[class*=star-5] .star:nth-child(1):before {
    content: "★";
}

.rating.star-1-5 .star:nth-child(2):before {
    content: "½";
}

.rating[class*=star-2] .star:nth-child(2):before,
.rating[class*=star-3] .star:nth-child(2):before,
.rating[class*=star-4] .star:nth-child(2):before,
.rating[class*=star-5] .star:nth-child(2):before {
    content: "★";
}

.rating.star-2-5 .star:nth-child(3):before {
    content: "½";
}

.rating[class*=star-3] .star:nth-child(3):before,
.rating[class*=star-4] .star:nth-child(3):before,
.rating[class*=star-5] .star:nth-child(3):before {
    content: "★";
}

.rating.star-3-5 .star:nth-child(4):before {
    content: "½";
}

.rating[class*=star-4] .star:nth-child(4):before,
.rating[class*=star-5] .star:nth-child(4):before {
    content: "★";
}

.rating.star-4-5 .star:nth-child(5):before {
    content: "½";
}

.rating[class*=star-5] .star:nth-child(5):before {
    content: "★";
}
</style>
    <article class="h-entry h-review" data-info="{{ metadata|json_encode }}" data-tags="{{ metadata.tags|json_encode }}" data-article-id="{{ metadata.id }}">
        <header>
            <h1 class="p-name" style=""><a href="{{ link|raw }}" class="u-url">{% if type !="reply"%}{{ title }}{% endif %}</a></h1>
            <div class="post-meta">
                <time class="dt-published" datetime="{{ created_date|date('c') }}">{{ created_date|date('j M Y, h:i a T') }}</time>
                {% if created_date != updated_date %}(&Delta; <time class="dt-updated" datetime="{{ updated_date|date('c') }}">{{ updated_date|date('j M Y, h:i a T') }}</time>){% endif %}
                <p class="tags">{% for tag in tags %}<a href="/blog/{{tag|tag_link}}-1.html" class="p-category">{{ tag }}</a> {% endfor %}</p>

                {% if metadata['in-reply-to']|length > 0 %}
                <p> In reply to <a href="{{ metadata['in-reply-to'] }}" class="u-in-reply-to h-cite">{{ metadata['in-reply-to'] }}</a></p>
                {% endif %}
                {% if metadata['repost-of']|length > 0 %}
                <p> A repost of <a href="{{ metadata['repost-of'] }}" class="u-repost-of h-cite">{{ metadata['repost-of'] }}</a></p>
                {% endif %}
                {% include "syndication.html.twig" with {'links': metadata['syndication_links']} %}
            </div>
        </header>
        <div>
            <div class="rating star-{{ item.Rating|replace({'.':'-'}) }}">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                (<span class="p-rating">{{ item.Rating }}</span> / 5)
            </div>
            <div class="item">
                {% set include_file = "h/h-" ~ item.Type|default('item') ~ ".html.twig" %}
                {% include include_file with item|default([]) %}
            </div>
            <section class="e-content review-type">
            {{ content|raw }}
            </section>
            <hr style="clear:both;">
        </div>
    </article>
{% endblock %}
