<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>Professor von Explaino</title>
        <link>https://vonexplaino.com/blog/</link>
        <description>Steampunk, PHP coding, Brisbane</description>
        <language>en-au</language>
        <copyright>Copyright 1997-{{ now|date('Y') }} Colin Morris</copyright>
        <lastBuildDate>{{ now|date('r') }}</lastBuildDate>
        <generator>A silly PHP script</generator>
        <webMaster>professor@vonexplaino.com (Colin Morris)</webMaster>
        <ttl>40</ttl>
        <atom:link href="{{ base_url }}rss.xml" rel="self" type="application/rss+xml" />
        {% for an_entry in pages|filter(v => v.Type in ['article','review', 'event', 'indieweb']) %}
        <item>
            <title>{{an_entry.Title}}</title>
            <description>{{an_entry.Synopsis|striptags }}</description>
            <pubDate>{{ an_entry.CreatedDate|date('r') }}</pubDate>
            <guid>{{ base_url }}{{an_entry.PublicFile}}</guid>
        </item>
        {% endfor %}
    </channel>
</rss>
