{% extends "base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <article class="h-entry" data-info="{{ metadata|json_encode }}" data-tags="{{ metadata.tags|json_encode }}" data-article-id="{{ metadata.id }}">
        <div class="row">
            <header class="col-12">
                <h1 class="p-name" style="">{{ title }}</h1>
                <section class="post-meta">
                    <span class="p-author">Professor von Explaino</span>, 
                    <time class="dt-published" datetime="{{ created_date|date('c') }}">{{ created_date|date('j M Y, h:i a') }}</time>
                    (&Delta; <time class="dt-updated" datetime="{{ updated_date|date('c') }}">{{ updated_date|date('j M Y, h:i a') }}</time>)
                    <ul class="tags">
                    {% for tag in tags %}
                        <li><a href="/blog/{{tag|tag_link}}-1.html" class="p-category">{{ tag }}</a></li>
                    {% endfor %}
                    </ul>
                </section>
            </header>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="e-content">
                {{ content|raw }}
                </div>
                <hr />
            {#
            <script>
            var idcomments_acct = '5fb5eed1e7a8c298f9848f358f11756f';
            var idcomments_post_id;
            var idcomments_post_url;
            </script>
            <span id="IDCommentsPostTitle" style="display:none"></span>
            <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
            #}            </div>
        </div>
    </article>
{% endblock %}