{% extends "base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <article class="h-entry" data-info="{{ metadata|json_encode }}" data-tags="{{ metadata.tags|json_encode }}" data-article-id="{{ metadata.id }}">
        <div class="row">
            <header class="col-12">
                <section class="post-meta">
                    <a href="{{ link|raw }}" class="u-url"></a>
                    <time class="dt-published" datetime="{{ created_date|date('c') }}">{{ created_date|date('j M Y, h:i a T') }}</time>
                    {% if created_date != updated_date %}(&Delta; <time class="dt-updated" datetime="{{ updated_date|date('c') }}">{{ updated_date|date('j M Y, h:i a T') }}</time>){% endif %}  
                    {% if metadata['in-reply-to']|length > 0 %}
                    <p> In reply to <a href="{{ metadata['in-reply-to'] }}" class="u-in-reply-to h-cite">{{ metadata['in-reply-to'] }}</a></p>
                    {% endif %}
                    {% if metadata['repost-of']|length > 0 %}
                    <p> A repost of <a href="{{ metadata['repost-of'] }}" class="u-repost-of h-cite">{{ metadata['repost-of'] }}</a></p>
                    {% endif %}
                    {% if metadata['like-of']|length > 0 %}
                    <p> A like of <a href="{{ metadata['like-of'] }}" class="u-like-of h-cite">{{ metadata['like-of'] }}</a></p>
                    {% endif %}
                    {% if metadata['bookmark-of']|length > 0 %}
                    <p> A bookmark of <a href="{{ metadata['bookmark-of'] }}" class="u-bookmark-of h-cite">{{ metadata['bookmark-of'] }}</a></p>
                    {% endif %}
                    {% include "syndication.html.twig" with {'links': metadata['syndication_links']} %}
                </section>
            </header>
            <div class="p-name e-content">
                {{ content|raw }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr style="clear:both;" />
            </div>
        </div>
    </article>
{% endblock %}
